<!DOCTYPE html>
<html lang="en">
    <%- 
    include('partials/header'); 
    %>
<body>
    <div id="app">
        <%- include('partials/navbar') %>
        <main>
            Home page
        </main>
        <%- include('partials/footer') %>
    </div>
</body>
</html>