<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= metadesc %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <% if(locals.extraCSS) { 
        for(const css of locals.extraCSS) { %>
        <link rel="stylesheet" href="/css/<%= css %>.css">
    <% }} %>
    <% if(locals.extraJS) { 
        for(const js of locals.extraJS) { %>
        <script src="/js/<%= js %>.js" defer></script>
    <% }} %>
    <title>My Website | <%= title %></title>
</head>