<!DOCTYPE html>
<html lang="en">
    <%- 
    include('../partials/header', {
        extraCSS: ["authForm"],
    }); 
    %>
<body>
    <div id="app">
        <%- include('../partials/navbar') %>
        <main>
            Login Page
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>